<lcs-section header="Chat">
  <div class="row">
    <div class="col-12 mb-3">
      <lcs-stat-card header="Members">
        <div class="d-flex justify-content-center flex-wrap">
          <p *ngFor="let name of authorNames" class="stat-display text-center mx-3">{{ name }}</p>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="First message">
        <p class="stat-display">{{ chatStartDate | date:'fullDate' }}</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Latest message">
        <p class="stat-display">{{ chatLatestDate | date:'fullDate' }}</p>
      </lcs-stat-card>
    </div>

    <div class="col-12 mb-3">
      <lcs-stat-card header="Interval">
        <form [formGroup]="form" (ngSubmit)="onDateSubmit()">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="form-group">
              <label for="fromDate">From</label>
              <input type="date" class="form-control form-control-lg" formControlName="from" id="fromDate" useValueAsDate>
            </div>
            <div class="form-group">
              <label for="fromDate">To</label>
              <input type="date" class="form-control form-control-lg" formControlName="to" id="toDate" useValueAsDate>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Parse</button>
        </form>
      </lcs-stat-card>
    </div>
  </div>
</lcs-section>

<lcs-section header="General">
  <div class="row">
    <div class="col-md-6 mb-3">
      <lcs-stat-card header="From">
        <p class="stat-display">{{ startDate | date:'fullDate' }}</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="To">
        <p class="stat-display">{{ latestDate | date:'fullDate' }}</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Total activity">
        <p class="stat-display">{{ intervalActivity | number }}</p>
        <p class="stat-unit">messages, stickers, calls, pictures, videos</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Timespan">
        <div class="d-flex justify-content-between">
          <div>
            <p class="stat-display text-left">{{ daySpan | number }}</p>
            <p class="stat-unit text-left">days</p>
          </div>
          <div>
            <p class="stat-display">{{ intervalActivity / daySpan | number:'1.0-2' }}</p>
            <p class="stat-unit">activity / day</p>
          </div>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Activity ratio">
        <div class="row">
          <div class="col-4">
            <p class="stat-display text-left">{{ activeDays | number }}</p>
            <p class="stat-unit text-left">active days</p>
          </div>
          <div class="col-4">
            <p class="stat-display text-center text-primary">{{ activeDays / daySpan * 100 | number:'1.0-1' }}</p>
            <p class="stat-unit text-center">%</p>
          </div>
          <div class="col-4">
            <p class="stat-display">{{ inactiveDays | number }}</p>
            <p class="stat-unit">inactive days</p>
          </div>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Most active day">
        <p class="stat-display">{{ mostActive.day | date:'fullDate' }}</p>
        <p class="stat-unit">{{ mostActive.count }} activities</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Links sent">
        <p class="stat-display">{{ numberOfUrls | number }}</p>
        <p class="stat-unit">link</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Calls">
        <div class="d-flex justify-content-between">
          <div>
            <p class="stat-display text-left">{{ calls.numberOfCalls | number }}</p>
            <p class="stat-unit text-left">calls</p>
          </div>
          <div>
            <p class="stat-display">{{ calls.duration / 60 / 60 | number:'1.0-1' }}</p>
            <p class="stat-unit">hours</p>
          </div>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Longest activity streak">
        <p class="stat-display">{{ longestStreak.daySpan | number }}</p>
        <p class="stat-unit">days
          <br>{{ longestStreak.begin | date:'fullDate' }} - {{ longestStreak.end | date:'fullDate' }}</p>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Longest call">
        <p class="stat-display">{{ calls.longest / 60 / 60 | number:'1.0-1' }}</p>
        <p class="stat-unit">hours
          <span *ngIf="calls.longest > 0">
            <br>{{ calls.longestDay | date:'fullDate' }}</span>
        </p>
      </lcs-stat-card>
    </div>
  </div>
</lcs-section>

<lcs-section header="Activity">
  <div class="row">
    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Messages">
        <div>
          <ngx-charts-advanced-pie-chart [animations]="false" class="advanced-pie-chart" label="messages" [results]="authorMessages" [scheme]="colors">
          </ngx-charts-advanced-pie-chart>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Stickers">
        <div>
          <ngx-charts-advanced-pie-chart [animations]="false" class="advanced-pie-chart" label="stickers" [results]="authorStickers" [scheme]="colors">
          </ngx-charts-advanced-pie-chart>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Pictures">
        <div>
          <ngx-charts-advanced-pie-chart [animations]="false" class="advanced-pie-chart" label="pictures" [results]="authorPictures" [scheme]="colors">
          </ngx-charts-advanced-pie-chart>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="Videos">
        <div>
          <ngx-charts-advanced-pie-chart [animations]="false" class="advanced-pie-chart" label="videos" [results]="authorVideos" [scheme]="colors">
          </ngx-charts-advanced-pie-chart>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-12 mb-3">
      <lcs-stat-card header="Most frequent links">
        <div style="height: 600px" *ngIf="numberOfUrls > 0">
          <ngx-charts-bar-horizontal-2d [animations]="false" [results]="authorUrls" [legend]="true" legendTitle="Names" [xAxis]="true" [showXAxisLabel]="true"
            xAxisLabel="# of occurrences" [yAxis]="true" [scheme]="colors">
          </ngx-charts-bar-horizontal-2d>
        </div>
        <p class="mb-0" *ngIf="numberOfUrls === 0">No links have been sent.</p>
      </lcs-stat-card>
    </div>
  </div>
</lcs-section>

<lcs-section header="Activity by time">
  <div class="row">
    <div class="col-md-6 mb-3">
      <lcs-stat-card header="By hour">
        <div style="height: 600px">
          <ngx-charts-bar-horizontal [animations]="false" [results]="byHour" [xAxis]="true" [yAxis]="true" [scheme]="monoColor">
          </ngx-charts-bar-horizontal>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="By weekday">
        <div style="height: 300px">
          <ngx-charts-bar-horizontal [animations]="false" [results]="byWeekday" [xAxis]="true" [yAxis]="true" [scheme]="monoColor">
          </ngx-charts-bar-horizontal>
        </div>
      </lcs-stat-card>
    </div>

    <div class="col-md-6 mb-3">
      <lcs-stat-card header="By month">
        <div style="height: 400px">
          <ngx-charts-bar-horizontal [animations]="false" [results]="byMonth" [xAxis]="true" [yAxis]="true" [scheme]="monoColor">
          </ngx-charts-bar-horizontal>
        </div>
      </lcs-stat-card>
    </div>
  </div>
</lcs-section>
