<lcs-nav></lcs-nav>
<div class="container py-5 d-flex flex-column justify-content-between h-100">
  <div class="mb-5 mb-md-0">
    <h1 class="text-white font-weight-bold">
      <span class="text-primary">LINE</span> chat statistics
    </h1>
    <p class="text-white font-weight-light lead">
      Get interesting informations from your conversations
    </p>
  </div>
  <div class="mt-5 mt-md-0">
    <button pageScroll pageScrollTarget="#upload" class="btn btn-primary btn-lg mobile-block px-4 mr-3 mb-3">
      Start now
    </button>
    <button pageScroll pageScrollTarget="#about" class="btn btn-info btn-lg mobile-block mb-3 px-4">
      Learn more
    </button>
  </div>
</div>
