<div class="card">
  <div class="card-header">
    <button class="btn btn-link" type="button" *ngFor="let section of sections; let i = index" [ngClass]="{'active': i === active}"
      (click)="active = i">
      {{ section }}
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="active === 0" id="section0" [@height]>
      <ul class="list-unstyled mb-0">
        <li>
          <strong>1.</strong> Open the chat which you want to export.
        </li>
        <li>
          <strong>2.</strong> Tap on the V icon at the top right of the screen.
        </li>
        <li>
          <strong>3.</strong> Select
          <strong>Chat Settings</strong> in the newly appeared icon list.
        </li>
        <li>
          <strong>4.</strong> Select
          <strong>Back up chat history</strong> from the list.
        </li>
        <li>
          <strong>5.</strong> Select
          <strong>Back up text</strong> from the dialog.
        </li>
      </ul>
    </div>
    <div *ngIf="active === 1" id="section1" [@height]>
      <ul class="list-unstyled mb-0">
        <li>
          <strong>1.</strong> Open the chat which you want to export.
        </li>
        <li>
          <strong>2.</strong> Tap on the V icon at the top right of the screen.
        </li>
        <li>
          <strong>3.</strong> Select
          <strong>Settings</strong> in the newly appeared icon list.
        </li>
        <li>
          <strong>4.</strong> Select
          <strong>Export chat history</strong> from the list.
        </li>
        <li>
          <strong>5.</strong> Select
          <strong>Back up text</strong> from the dialog.
        </li>
      </ul>
    </div>
  </div>
</div>
