@import '~styles/variables';

.btn-link {
  color: $info;
  font-weight: $font-weight-bold;

  &:hover,
  &.active {
    color: $dark;
    text-decoration: none;
  }
}

.content-box {
  background: $white;
  border: 1px solid $grey;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 1.25rem;
}
