<div class="container my-5">
  <h2 class="font-weight-bold text-secondary">Frequently Asked Questions</h2>

  <p class="text-justify font-weight-bold mt-5">Question 1</p>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis, similique unde sed temporibus itaque! Delectus
    earum expedita veritatis rerum consequuntur laboriosam, et odio minima quos aspernatur eos quod inventore.</p>

  <p class="text-justify font-weight-bold mt-5">Question 2</p>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis, similique unde sed temporibus itaque! Delectus
    earum expedita veritatis rerum consequuntur laboriosam, et odio minima quos aspernatur eos quod inventore.</p>
</div>
