$green: #00b84f;

$primary: $green;
$secondary: #464e66;
$tertiary: #2d3649;
$info: #697794;
$grey: #e5e5e5;
$dark: #3b3b3b;
$light: #edeff2;

$theme-colors: ();
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'info': $info,
    'grey': $grey,
    'dark': $dark,
    'light': $light
  ),
  $theme-colors
);

$body-bg: $light;
$body-color: $dark;

$link-color: #be6e46;

$border-radius: 0.2rem;
$border-radius-lg: 0.25rem;
$border-radius-sm: 0.15rem;

$component-active-color: $light;
$component-active-bg: $info;

$font-size-base: 1.125rem;
$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;

$headings-font-family: Ubuntu, Roboto, Helvetica, Arial, sans-serif;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
