@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

@import '~src/styles/declarations';
@import '~src/styles/bootstrap';

html,
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.btn {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.mobile-block {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    display: block;
    width: 100%;
  }
}

.form-control-lg {
  font-family: Anton, Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.stat-display {
  color: $secondary;
  font-family: Anton, Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: right;
}

.stat-unit {
  color: $info;
  margin-bottom: 0;
  text-align: right;
}

.advanced-pie-chart {
  div {
    height: auto;
    width: auto;
  }

  & > div {
    display: flex;
  }

  .advanced-pie {
    display: block;
    float: none;
  }

  .advanced-pie-legend-wrapper {
    display: block;
    text-align: right;

    .advanced-pie-legend {
      .total-label {
        @extend .stat-unit;
        font-size: 1rem;
      }
    }
  }
}

.total-value {
  @extend .stat-display;
}
