<div class="bg-secondary">
  <lcs-nav></lcs-nav>
  <div class="container py-5">
    <h1 class="text-white font-weight-bold">
      <span class="text-primary">LINE</span> chat statistics
    </h1>
    <p class="text-white font-weight-light lead mb-5">
      Get interesting informations from your conversations
    </p>
    <button class="btn btn-primary btn-lg px-4 mr-3 mb-3">Start now</button>
    <button class="btn btn-info btn-lg mb-3 px-4">Learn more</button>
  </div>
</div>

<lcs-about></lcs-about>
<lcs-upload></lcs-upload>
