<lcs-landing-header></lcs-landing-header>

<lcs-section id="about" header="About" i18n-header="@@about">
  <p class="text-justify">This website will parse your conversation log and display various informations from it. Everything happens inside your
    browser, no information will be seen nor collected by us. Also no registration is needed.</p>
    <lcs-about-guide></lcs-about-guide>
</lcs-section>

<lcs-upload id="upload"></lcs-upload>

<lcs-section id="faqs" header="Frequently Asked Questions" i18n-header="@@faqLong">
  <p class="text-justify font-weight-bold">Question 1</p>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis, similique unde sed temporibus itaque! Delectus
    earum expedita veritatis rerum consequuntur laboriosam, et odio minima quos aspernatur eos quod inventore.</p>

  <p class="text-justify font-weight-bold">Question 2</p>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis, similique unde sed temporibus itaque! Delectus
    earum expedita veritatis rerum consequuntur laboriosam, et odio minima quos aspernatur eos quod inventore.</p>
</lcs-section>

<lcs-section id="contact" header="Contact" i18n-header="@@contact">
  <p class="text-justify">If you notice any problems or have any comments about the site feel free to contact me by
    <a href="mailto:david.richolm@gmail.com?subject=LINE%20chat%20statistics">email</a> or create a new issue on
    <a href="#">GitHub</a>.</p>
</lcs-section>
