@import '~styles/variables';

:host {
  background-color: $secondary;
  display: flex;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    min-height: 100vh;
  }
}

.file-container {
  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.file-box {
  display: grid;
  grid-template-areas:
    'upload'
    'text'
    'parse';
  grid-template-columns: 100%;
  grid-template-rows: 100% 100% 100%;

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    grid-template-areas: 'upload text parse';
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100%;
  }
}

.file-upload {
  grid-area: upload;
  overflow: hidden;
  position: relative;
}

.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.file-text {
  font-weight: $font-weight-bold;
  grid-area: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    text-align: center;
  }
}

.file-submit {
  grid-area: parse;
}
