<div class="container my-5">
  <h2 class="font-weight-bold text-light mb-0 mb-lg-4">
    Upload
  </h2>

  <div class="file-container">
    <div class="bg-light rounded p-3 file-box">
      <div class="file-upload mr-0 mr-lg-3 mb-3 mb-lg-0">
        <input type="file" class="file-input" name="log" (change)="onChange($event)">
        <button class="file-browse btn btn-info btn-lg btn-block px-5" type="button">
          Browse
        </button>
      </div>
      <p class="align-self-center file-text mb-3 mb-lg-0" [ngClass]="{'text-danger': error}">
        {{ error || file?.name || 'Select a chat log file' }}
      </p>
      <button class="file-submit btn btn-primary btn-lg btn-block px-5" type="button" [disabled]="!file" (click)="onParse()">
        Parse
      </button>
    </div>
  </div>
</div>
