@import '~src/styles/declarations';

:host {
  background-color: $dark;
  color: darken($grey, 15%);
  display: flex;
  font-weight: $font-weight-light;
}

a {
  color: $grey;
  font-weight: $font-weight-normal;
}
