@import '~styles/variables';

.nav-item,
.nav-button {
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.navbar {
  background-color: $tertiary;
  justify-content: space-between;

  &.show {
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    align-items: normal;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
    width: 80vw;
    z-index: 2;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    display: none;
  }
}
